<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../public/stylesheets/mdb.css">
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <a class="navbar-brand" href="#">Express Todo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Servies</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <form class="form-inline" action="/todo" method="post">
                            <div class="form-group">
                                <input type="text" name="item" size="35" class="form-control" placeholder="your Item here">
                            </div>
                            <input type="submit" value="Submit" class="btn btn-success">
                        </form>
                    </div>
                    <div class="card-body">
                        <% todos.forEach(function (todo) { %>
                            <div class="card mt-2">
                                <div class="card-body bg-light item-card">
                                    <h3><%= todo.item %></h3>
                                </div>
                            </div>
                        <% });%>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <script src="../public/javascripts/jquery-3.3.1.min.js"></script>
    <script src="../public/javascripts/popper.min.js"></script>
    <script src="../public/javascripts/bootstrap.js"></script>
    <script src="../public/javascripts/mdb.js"></script>
    <script src="../public/javascripts/script.js"></script>
  </body>
</html>
